<ion-header>
    <ion-toolbar>
        <ion-icon class="icon-start" name="cog" slot="start"></ion-icon>
        <ion-avatar slot="end" size="small">
            <img src="/assets/img/lauro.perfil.jpeg" />
        </ion-avatar>
        <ion-label>
            <h2><b>{{usuario.nome}}</b></h2>
            <p>Desenvolvedor Web</p>
        </ion-label>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item class="item-card" lines="none">
        <ion-card>
            <ion-card-header (click)="rota('/perfil-pessoal')">
                <ion-icon class="icon-card" src="assets/icon/perfil-pessoal.svg"></ion-icon>
                <ion-card-subtitle>Editar Perfil Pessoal</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
        <ion-card>
            <ion-card-header (click)="rota('/perfil-profissional')">
                <ion-icon class="icon-card" src="assets/icon/perfil-profissional2.svg"></ion-icon>
                <ion-card-subtitle>Editar Perfil Profissional</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
    </ion-item>
    <ion-item class="item-card" lines="none">
        <ion-card>
            <ion-card-header (click)="rota('/dados-financeiros')">
                <ion-icon class="icon-card" src="assets/icon/bancario2.svg"></ion-icon>
                <ion-card-subtitle> Editar Dados Financeiros</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
    </ion-item>


</ion-content>


<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/inicial">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>


        <ion-tab-button (click)="showScreen('atualizacao')">
            <ion-icon name="layers"></ion-icon>
            <ion-label>Atalização</ion-label>
            <ion-badge>{{quantidadePublicacao}}</ion-badge>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>