<ion-header>
    <ion-toolbar>
        <ion-icon class="icon-card" name="close" (click)="fecharModal()"></ion-icon>
        <ion-icon *ngIf="publicacao.valorHora != null && publicacao.tipoPublicacao != null $$ publicacao.nomeUser != null && publicacao.areaAtuacao != null
         && publicacao.profissao != null && publicacao.tempoExperiencia != null && publicacao.descricao != null " class="icon-card" slot="end" name="cloud-upload" (click)="salvaPublicacao()"></ion-icon>
        <ion-title>Publicar</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-infinite-scroll threshold="100px" id="infinite-scroll" fullscreen>
        <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more data...">


            <ion-select okText="Ok" cancelText="Sair" placeholder="Tipo de Publicação:" [(ngModel)]="publicacao.tipoPublicacao" *ngIf="tipoPublicacao == null">
                <ion-select-option style="text-align: left;" value="oportunidade">Oportunidade</ion-select-option>
                <ion-select-option style="text-align: left;" value="disponibilidade">Disponibilidade</ion-select-option>
            </ion-select>

            <ion-item *ngIf="idColecao">
                <ion-label position="floating"><b>Tipo de Publicação:</b> </ion-label>
                <ion-input type="text" [(ngModel)]="publicacao.tipoPublicacao" [(value)]="tipoPublicacao"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating"><b>Nome:</b> </ion-label>
                <ion-input type="text" [(ngModel)]="publicacao.nomeUser" [(value)]="nomeUser"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"><b>Area de Atuação:</b> </ion-label>
                <ion-input type="text" [(ngModel)]="publicacao.areaAtuacao" [(value)]="areaAtuacao"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"><b>Profissão:</b> </ion-label>
                <ion-input type="text" [(ngModel)]="publicacao.profissao" [(value)]="profissao"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating"><b>Tempo Experiência:</b> </ion-label>
                <ion-input type="text" [(ngModel)]="publicacao.tempoExperiencia" [(value)]="experiencia"></ion-input>
            </ion-item>

            <ion-item *ngIf="tipoPublicacao == null">
                <ion-icon slot="start" name="cash" color="success"></ion-icon>
                <ion-label><b>Valor por hora:</b> </ion-label>
                <ion-input type="number" [(ngModel)]="publicacao.valorHora"></ion-input>
            </ion-item>

            <ion-item *ngIf="idColecao">
                <ion-icon slot="start" name="cash" color="success"></ion-icon>
                <ion-label><b>Valor por hora:</b> </ion-label>
                <ion-input type="number" [(ngModel)]="publicacao.valorHora" [(value)]="publicacao.valorHora"></ion-input>
            </ion-item>

            <ion-textarea color="primary" [(ngModel)]="publicacao.descricao"><b> Descreva oque procura./ Ou suas habilidades.</b> <br>
            </ion-textarea>
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>


<ion-footer>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button (click)="salvaPublicacao()">
                <ion-icon class="save" name="send"></ion-icon>
                <ion-label color="dark"><b>Enviar Mensagen</b> </ion-label>
            </ion-tab-button>
            <br>

        </ion-tab-bar>
    </ion-tabs>
</ion-footer>


<ion-item>
    <ion-footer>
        <ion-tabs>
            <ion-tab-bar slot="bottom">
                <ion-tab-button (click)="rota(public.userId)" [disabled]="valor">
                    <ion-icon class="icon-mensagem" name="send"></ion-icon>
                    <ion-label color="dark"><b>Enviar Mensagen</b> </ion-label>
                </ion-tab-button>
                <ion-tab-button (click)="addUserPainel()" [disabled]="valor">
                    <ion-icon class="icon-mensagem" name="terminal"></ion-icon>
                    <ion-label color="dark"><b> Add ao Painel</b></ion-label>
                </ion-tab-button>
                <br>

            </ion-tab-bar>
        </ion-tabs>
    </ion-footer>
</ion-item>