ion-item {
    --background: #1e2023;
    --color: #fff;
    // ion-input {
    // border-style: groove;
    // border-color: #f5b026;
    // border-radius: 10px;
    // }
}

.icon-start {
    font-family: 'Times New Roman';
    font-size: 35px;
    color: #f5b026;
}

ion-toolbar {
    --background: #3a3c3f;
}

ion-content {
    --background: url('/assets/img/Google-Maps.jpg') 100% 100%;
    // --background: url(../assets//fundo.jpg) 0 0/100% 100% no-repeat;
}

ion-button {
    --background: #f5b026;
}

ion-icon {
    color: #f5b026;
    padding-right: 10px;
}

.entry {
    font-size: 100px;
}

ion-title {
    color: #f5b026;
}

ion-label {
    color: #f5b026;
    p {
        color: white;
    }
}

.n1 {
    color: #f5b026;
    text-align: center;
}

.n2 {
    padding-top: 50px;
}

ion-tabs {
    ion-tab-bar {
        --background: #5e5d5b;
    }
}

.icon-card {
    font-family: 'Times New Roman';
    font-size: 50px;
    color: #f5b026;
}

.map {
    height: 100%;
    width: 100%;
}