<ion-content>
    <form #form="ngForm">
        <ion-grid>
            <ion-row justify-content-center>
                <ion-col style="text-align: center;" size-md="6" size-lg="5" size-xs="12">
                    <div class="n2">
                        <ion-img src="../assets/img/nome-logo3.png" alt="" style="position: relative;"></ion-img>
                        <h3>Login</h3>
                    </div>
                    <div padding>
                        <ion-item>
                            <ion-input name="email" type="email" placeholder="nome@email.com" name="email" [(ngModel)]="usuario.email" ngModel email ngModel required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input name="password" type="password" ngModel minlength="6" placeholder="Senha" [(ngModel)]="usuario.senha" ngModel required></ion-input>
                        </ion-item>
                    </div>
                    <div padding>
                        <ion-button (click)="login()" size="small" [disabled]="form.invalid" expand="block">Acessar</ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>

    <ion-row>
        <div class="n1">
            Se você não tem uma conta cadastre-se!
            <a routerLink='/cadastro'>
                <ion-icon name="thumbs-up-sharp"></ion-icon>
                Cadastro</a>
        </div>
    </ion-row>
</ion-content>