<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button>
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-back-button>
        </ion-buttons>
        <ion-avatar slot="end" size="small">
            <ion-icon class="icon-card" src="assets/icon/bancario2.svg"></ion-icon>
        </ion-avatar>
        <ion-title>
            <b>Painel</b>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>


    <ion-item lines="none" *ngFor=" let public of userPainel">

        <ion-card class="item-card" *ngIf="userId == public.idUsuariologado">
            <ion-card-header>
                <ion-avatar class="teste">
                    <img src="/assets/img/lauro.perfil.jpeg " />
                    <!-- <ion-icon src="assets/icon/edit.svg "></ion-icon> -->
                </ion-avatar>
                <br>
                <ion-card-title>{{public.nomeUser}}
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>

                <b>Area de Atuação:</b> {{public.areaAtuacao}} <br> <b>Profissão:</b> {{public.profissao}} <br> {{public.tempoExperiencia}} Anos de Experiência
                <br>
                <b>Data Publicação:</b> {{public.dataPublicacao | date:'dd-MM-yyyy HH:mm'}}
                <br> <br> <br>


                <br><br>

            </ion-card-content>

            <ion-tabs>
                <ion-tab-bar slot="bottom">

                    <!-- (click)="showDetalhesPublicacao(public.id)" -->
                    <ion-tab-button [routerLink]="['/detalhes-painel',public.id]">
                        <!-- <ion-tab-button (click)="showDetalhesPainel()"></ion-tab-button> -->
                        <ion-icon name="eye"></ion-icon>
                        <ion-label style="color:#f5b026; font-size: larger; ">Visualizar</ion-label>
                    </ion-tab-button>

                    <!-- <ion-tab-button (click)="iniciaServico(public.id, 'Em execucao')" *ngIf="public.status == '' ">
                        <ion-icon name="logo-google-playstore"></ion-icon>
                        <ion-label style="color:#f5b026; font-size: larger; ">Iniciar</ion-label>
                    </ion-tab-button>

                 -->

                    <ion-tab-button (click)="excluirUserPainel(public.status,public.id)" *ngIf="public.status != Em execucao ">
                        <ion-icon name="close-circle"></ion-icon>
                        <ion-label style="color:#f5b026; font-size: larger; ">Excluir</ion-label>

                    </ion-tab-button>
                    <ion-tab-button (click)="excluirUserPainel(public.status,public.id)" *ngIf="public.status == null ">
                        <ion-icon name="close-circle"></ion-icon>
                        <ion-label style="color:#f5b026; font-size: larger; ">Excluir</ion-label>

                    </ion-tab-button>


                </ion-tab-bar>
            </ion-tabs>


        </ion-card>

        <ion-card class="item-card" *ngIf="userId == public.userId">
            <ion-card-header>
                <ion-avatar class="teste">
                    <img src="/assets/img/lauro.perfil.jpeg " />
                    <!-- <ion-icon src="assets/icon/edit.svg "></ion-icon> -->
                </ion-avatar>
                <br>
                <ion-card-title>{{public.nomeUser}}
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>

                <b>Area de Atuação:</b> {{public.areaAtuacao}} <br> <b>Profissão:</b> {{public.profissao}} <br> {{public.tempoExperiencia}} Anos de Experiência
                <br>
                <b>Data Publicação:</b> {{public.dataPublicacao | date:'dd-MM-yyyy HH:mm'}}
                <br> <br> <br>


                <br><br>
                <!-- <ion-textarea style="border-radius: 5px; border-color: black;border-style: solid;">{{public.descricao}}</ion-textarea> -->
                <!-- Publicado em: {{public.dataPublicacao | date:'dd-MM-yyyy HH:mm' }} -->




            </ion-card-content>

            <ion-tabs>
                <ion-tab-bar slot="bottom">

                    <!-- (click)="showDetalhesPublicacao(public.id)" -->
                    <ion-tab-button [routerLink]="['/detalhes-painel',public.id]">
                        <!-- <ion-tab-button (click)="showDetalhesPainel()"></ion-tab-button> -->
                        <ion-icon name="eye"></ion-icon>
                        <ion-label style="color:#f5b026; font-size: larger; ">Visualizar</ion-label>
                    </ion-tab-button>

                    <ion-tab-button (click)="excluirUserPainel(public.status,public.id)" *ngIf="public.status != Em execucao ">
                        <ion-icon name="close-circle"></ion-icon>
                        <ion-label style="color:#f5b026; font-size: larger; ">Excluir</ion-label>
                    </ion-tab-button>

                    <ion-tab-button (click)="excluirUserPainel(public.status,public.id)" *ngIf="public.status == null ">
                        <ion-icon name="close-circle"></ion-icon>
                        <ion-label style="color:#f5b026; font-size: larger; ">Excluir</ion-label>
                    </ion-tab-button>


                </ion-tab-bar>
            </ion-tabs>


        </ion-card>



    </ion-item>


</ion-content>