<ion-content>
    <form #form="ngForm">
        <ion-grid>
            <ion-row justify-content-center>
                <ion-col style="text-align: center;" size-md="6" size-lg="5" size-xs="12">
                    <div class="n2">
                        <ion-img src="../assets/img/nome-logo3.png" alt="" style="position: relative;"></ion-img>
                        <h3>Cadastro</h3>
                    </div>
                    <div padding>
                        <ion-item>
                            <ion-input name="name" type="text" placeholder="Nome" [(ngModel)]="usuario.nome" ngModel required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input name="email" type="email" placeholder="nome@email.com" [(ngModel)]="usuario.email" name="email" ngModel email ngModel required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input name="password" type="password" placeholder="Senha" [(ngModel)]="usuario.senha" ngModel minlength="6" ngModel required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input name="confirm" type="password" ngModel minlength="6" placeholder="Repita senha" ngModel required></ion-input>
                        </ion-item>
                    </div>
                    <div padding>
                        <ion-button (click)="cadastrarUsuario()" size="small" [disabled]="form.invalid" expand="block">Cadastar</ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>