<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button>
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-back-button>
        </ion-buttons>
        <ion-avatar slot="end" size="small" color="primary">
            <ion-icon class="icon-card" src="assets/icon/perfil-profissional2.svg"></ion-icon>
        </ion-avatar>
        <ion-title>
            <b>Perfil Profissional</b>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>



    <ion-item lines="none">
        <ion-card class="item-card">
            <ion-card-header>
                <ion-avatar class="teste">
                    <img src="/assets/img/lauro.perfil.jpeg " />
                    <ion-icon src="assets/icon/edit.svg "></ion-icon>
                </ion-avatar>
                <br>
                <ion-card-title>{{profissao}}</ion-card-title>
            </ion-card-header>
            <ion-card-content *ngIf="titulo">

                {{usuario.formacao?.descricao}} | {{titulo}} <br> {{tempoExperi}} Anos de Experiência

            </ion-card-content>
        </ion-card>
    </ion-item>


    <ion-item>
        <ion-label position="floating"><b>Formação:</b></ion-label>
        <ion-select okText="Ok" cancelText="Sair" [(ngModel)]="formacao">
            <ion-select-option style="text-align: left;" *ngFor="let form of listFormacao" [value]="form">{{form}}</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item style="text-align: start; margin-left: auto; ">
        <ion-label position="floating">Titulo:</ion-label>
        <ion-input type=" text " [(ngModel)]="titulo"></ion-input>

    </ion-item>

    <ion-item style="text-align: start; margin-left: auto; ">
        <ion-label position="floating">Area de atuação:</ion-label>
        <ion-select okText="Ok" cancelText="Sair" [(ngModel)]="areaAtuacao">
            <ion-select-option style="text-align: left;" *ngFor="let form of listAreaAtuacao" [value]="form">{{form}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item style="text-align: start; margin-left: auto; ">
        <ion-label position="floating">Profissição atual:</ion-label>
        <ion-input type="text" [(ngModel)]="profissao"></ion-input>
    </ion-item>
    <ion-item style="text-align: start; margin-left: auto; ">
        <ion-label position="floating">Tempo de experiência</ion-label>
        <ion-select okText="Ok" cancelText="Sair" [(ngModel)]="tempoExperi">
            <ion-select-option style="text-align: left;" *ngFor="let form of listTempoServico">{{form}}</ion-select-option>
        </ion-select>
    </ion-item>

</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-button (click)="updateUser() " size="small " expand="block ">Alterar Perfil</ion-button>
    </ion-toolbar>
</ion-footer>