<ion-content padding>

    <div class="n2">
        <ion-img src="../assets/img/nome-logo3.png" alt="" style="position: relative;"></ion-img>
        <h3>
            <ion-icon class="entry" name="train-sharp"></ion-icon>
        </h3>
    </div>

    <div padding>
        <ion-button routerLink='/login' size="small" expand="block">Login</ion-button>
    </div>
    <br>

    <div padding>
        <ion-button routerLink='/cadastro' size="small" expand="block">Cadastar</ion-button>
    </div>
    <br>
    <div class="exit" padding>
        <ion-icon name="exit" routerLink='/cadastro'> </ion-icon>

    </div>


</ion-content>