<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button>
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-back-button>
        </ion-buttons>
        <ion-avatar slot="end">
            <ion-icon class="icon-card" src="assets/icon/perfil-pessoal.svg"></ion-icon>
        </ion-avatar>
        <ion-title>
            <b>Perfil Pessoal</b>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>

    <ion-item lines="none">
        <ion-card class="item-card">
            <ion-card-header>
                <ion-avatar class="teste">
                    <img src="/assets/img/lauro.perfil.jpeg " />
                    <ion-icon src="assets/icon/edit.svg "></ion-icon>
                </ion-avatar>
                <br>
                <ion-card-title>{{usuario.nome}} {{usuario.sobrenome}}</ion-card-title>
            </ion-card-header>
            <ion-card-content *ngIf="usuario.idade || usuario.estado || usuario.pais">
                {{usuario.idade}} Anos <br> {{usuario.localidade}}/{{usuario.estado}} / {{usuario.pais}} <br> {{usuario.email}}

            </ion-card-content>
        </ion-card>
    </ion-item>

    <ion-item style="text-align: start; margin-left: auto; ">
        <ion-label position="floating">Nome:</ion-label>
        <ion-input type=" text " [(ngModel)]="usuario.nome" [(value)]="usuario.nome"></ion-input>

    </ion-item>
    <ion-item style="text-align: start; margin-left: auto; ">
        <ion-label position="floating">Sobrenome:</ion-label>
        <ion-input type=" text " [(ngModel)]="usuario.sobrenome" [(value)]="usuario.sobrenome"></ion-input>
    </ion-item>

    <ion-item style="text-align: start; margin-left: auto; ">
        <ion-label position="floating">Idade:</ion-label>
        <ion-input type="number " [(ngModel)]="usuario.idade" [(value)]="usuario.idade">
        </ion-input>
    </ion-item>


    <ion-item style="text-align: start; margin-left: auto; ">
        <ion-label position="floating">Pais/Região:</ion-label>
        <ion-input type="tel" [(ngModel)]="usuario.pais" [(value)]="usuario.pais"></ion-input>
    </ion-item>


    <ion-item style="text-align: start; margin-left: auto; ">
        <ion-label position="floating">Localidades neste país/região:</ion-label>
        <ion-input type="tel" [(ngModel)]="usuario.localidade" [(value)]="usuario.localidade"></ion-input>
    </ion-item>


    <ion-item style="text-align: start; margin-left: auto; ">
        <ion-label position="floating"><b>Estado:</b></ion-label>
        <ion-select okText="Ok" cancelText="Sair" [(ngModel)]="usuario.estado">
            <ion-select-option style="text-align: left;" *ngFor="let form of listEstados" [value]="form">{{form}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item style="text-align: start; margin-left: auto; ">
        <ion-label position="floating">Telefone:</ion-label>
        <ion-input type="tel" [(ngModel)]="usuario.telefone" [(value)]="usuario.telefone"></ion-input>
    </ion-item>
    <ion-item style="text-align: start; margin-left: auto; ">
        <ion-label position="floating">E-mail:</ion-label>
        <ion-input type="email" [disabled]="true" [(ngModel)]="usuario.email" [(value)]="usuario.email"></ion-input>
    </ion-item>
    <ion-item style="text-align: start; margin-left: auto; ">
        <ion-label position="floating">senha:</ion-label>
        <ion-input type="password" [(value)]="usuario.senha"></ion-input>
    </ion-item>


</ion-content>


<ion-footer>
    <ion-toolbar>
        <ion-button (click)="updateUser() " size="small " expand="block ">Alterar Perfil</ion-button>
    </ion-toolbar>
</ion-footer>